/* input */
.input_pack { display: inline-block; }
.input_pack label span { display: inline-block; font-size: 14px; vertical-align: middle; }
.input_pack input { -webkit-appearance: none; appearance: none; box-sizing: border-box; border: none; outline: 0; border-radius: 0; box-shadow: none; background: none; }
.input_pack input::-ms-clear, .input_pack input::-ms-reveal { display: none; }
.input_pack input::-ms-check { visibility: hidden; }
.input_pack input[type="text"],
.input_pack input[type="password"],
.input_pack input[type="search"],
.input_pack input[type="tel"],
.input_pack input[type="number"] { display: inline-block; border: 1px solid tomato; box-sizing: border-box; vertical-align: middle; }
.input_pack input[type="checkbox"] ~ span { margin-left: 6px; }
.input_pack input[type="radio"] ~ span { margin-left: 6px; }

/* textarea */
.textarea_pack { display: inline-block; }
.textarea_pack textarea { -webkit-appearance: none; appearance: none; box-sizing: border-box; border: none; outline: 0; border-radius: 0; box-shadow: none; background: none; resize: none; }
.textarea_pack textarea.type_resize { resize: auto; }
.textarea_pack textarea { display: inline-block; border: 1px solid tomato; box-sizing: border-box; vertical-align: middle; }

/* select */
.select_pack { display: inline-block; }
.select_pack select { -webkit-appearance: none; appearance: none; box-sizing: border-box; border: none; outline: 0; border-radius: 0; box-shadow: none; background: none; }
.select_pack select::-ms-expand { display: none; }
.select_pack select { display: inline-block; border: 1px solid tomato; box-sizing: border-box; vertical-align: middle; }

/* button */
.btn_pack { display: inline-block; }
.btn_pack button { padding: 0; border: none; box-sizing: border-box; text-decoration: none; text-align: center; cursor: pointer; }
.btn_pack button { display: inline-block; border: 1px solid tomato; box-sizing: border-box; }